<div class="row">
    <div id="sidebar" class="col-md-3" ng-show="$ctrl.info.sidebarVisible">
        <div class="sidebarMenuContainer">
            <div class="sidebarUserInfo text-center">
                <p class="username">
                    {{$ctrl.info.username}}
                </p>
                <p class="userClass">
                    {{$ctrl.info.userClass}}
                </p>
                <p class="score">
                    {{$ctrl.info.score}}
                </p>
                <p class="scoreText">
                    score
                </p>
            </div>

            <ul class="sidebarMenu text-center">
                <li>
                    <a href="#!">Profile</a>
                </li>
                <li>
                    <a href="#!">My Activity</a>
                </li>
                <li>
                    <a href="#!">Subscribe</a>
                </li>
                <li>
                    <a href="#!">Contact</a>
                </li>

            </ul>
        </div>
        <div class="dontDrinkDrive text-center">
            Do not drink and drive!
        </div>
    </div>
</div>
