/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li + li:before {
    content: "|";
    padding-right: 0.3em;
}

#map {
    position: relative;
    height: 100%;
    width: 100%;
}

#mapContainer {
    position: absolute;
    height: 100%;
    padding: 0;
    left: 0;
}

.infoWindowDescription {
    width: 220px;
    overflow: hidden;
    z-index: 999;
}

.infoWindowProbability {
    font-size: 16px;
    text-align: center;
    padding-top: 8px;
}

.infoWindowProbabilityNo {
    color: orange;
}

.infoWindowPretext {
    font-size: 13px;
    margin-top: 10px;
}

.container {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
}

#sidebar {
    position: fixed;
    left: 0;
    margin: 0;
    padding: 0;
    height: 100%;
    background: #2c2f33;
    z-index: 100;
}

.glyphicon-menu-hamburger {
    color: white;
    font-size: 20px;
    margin: 5px;
    margin-left: 20px;
    margin-top: 15px;

}

/*.glyphicon-menu-hamburger {*/
/*z-index: 101;*/
/*}*/

.myNavbar {
    background: #23272a;
    height: 60px;
    position: fixed;
    z-index: 102;
    padding: 0;
    width: 100%;
    left: 0px;
}

.addHotspotActive {
    z-index: 999;
    position: fixed;
    top: 155px;
    right: 105px;
    width: 70px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.6);
    border-radius: 100px;
}

.addHotspotDefault {
    z-index: 999;
    position: fixed;
    top: 150px;
    right: 100px;
    width: 80px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    border-radius: 100px;
}

.thankYou {
    font-size: 15px;
    color: green;
    margin-top: 8px;
}

.sidebarMenuContainer {
    position: fixed;
    width: inherit;
    left: 0;
    margin: 0;
    top: 150px;
}

.sidebarMenu {
    margin-top: 70px;
    padding: 0;
}

.sidebarUserInfo {
    padding: 0;
    margin: 0 auto;
    color: lightgray;
}

.username {
    font-size: 18px;
    margin-bottom: 0;
    color: white;
}

.score {
    font-size: 35px;
    margin-top: 30px;
    margin-bottom: 0;
    color: white;
}

.scoreText {
    font-size: 15px;
    margin-top: -8px;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 25px;
}

a {
    text-decoration: none;
    color: lightgray;
    font-size: 16px;
    padding: 13px;
    padding-left: 25px;
    padding-right: 25px;
}

a:hover {
    text-decoration: none;
    color: white;
    background: #23272a;
}

a:visited {
    text-decoration: none;
    color: lightgray;
}

.dontDrinkDrive {
    position: absolute;
    color: gray;
    font-size: 14px;
    font-weight: bold;
    bottom: 80px;
    width: 100%;
    margin: auto;
}

.glyphicon-ok {
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  font-size: 17px;
}
.glyphicon-remove {
  color: white;
  font-size: 17px;
  margin-left: 10px;
  margin-right: 10px;
}

.feedbackContainer {
  text-align: center;
  padding: 5px;
  display: inline-flex;
  width: 60%;
}

.addAlert {
  z-index: 999;
  position: fixed;
  display: inline-block;
  top: 130px;
  height: 60px;
  width: 320px;
  text-align: center;
  margin: auto;

}

.alert-text {
  margin-top: 18px;
}

.rosu {
  background: #d9534f;
  height: 27px;
  padding: 5px;
  margin-right: 1px;
  width: 45%;
}

.verde {
  background: #5cb85c;
  height: 27px;
  padding: 5px;
  margin-left: 1px;
  width: 55%;
}
