<!--<div class="row">-->
<!--<div class="myNavbar col-md-12">-->
<!--<span class="glyphicon glyphicon-menu-hamburger" ng-click="$ctrl.sidebarShowHide()"></span>-->
<!--</div>-->
<!--</div>-->
<navbar></navbar>
<sidebar></sidebar>

<div class="container col-md-12">
  <img src="https://icon-icons.com/icons2/841/PNG/512/flat-style-circle-add_icon-icons.com_66944.png"
       ng-if="!$ctrl.addHotspotClass"
       class="addHotspotDefault"
       ng-click="$ctrl.addHotspot()">
  <img src="https://icon-icons.com/icons2/841/PNG/512/flat-style-circle-add_icon-icons.com_66944.png"
       ng-if="$ctrl.addHotspotClass"
       class="addHotspotActive"
       ng-click="$ctrl.addHotspot()">

    <div ng-if="$ctrl.addHotspotClass" class="alert-info fade in addAlert"><p class="alert-text">Click on the map to notify the world!</p></div>

    <div id="mapContainer" class="col-md-12">
        <div id="map"></div>
    </div>
</div>
