<div class="row">
    <div class="myNavbar col-md-12">
        <span class="glyphicon glyphicon-menu-hamburger" ng-click="$ctrl.sidebarShowHide()"></span>
    </div>
</div>
<!--<div class="row">-->
    <!--<div id="sidebar" class="col-md-3" ng-show="$ctrl.sidebarVisible">-->
        <!--<div class="sidebarMenuContainer">-->
            <!--<div class="sidebarUserInfo text-center">-->
                <!--<p class="username">-->
                    <!--{{$ctrl.username}}-->
                <!--</p>-->
                <!--<p class="userClass">-->
                    <!--{{$ctrl.userClass}}-->
                <!--</p>-->
                <!--<p class="score">-->
                    <!--{{$ctrl.score}}-->
                <!--</p>-->
                <!--<p class="scoreText">-->
                    <!--score-->
                <!--</p>-->
            <!--</div>-->

            <!--<ul class="sidebarMenu text-center">-->
                <!--<li>-->
                    <!--<a href="#!">Profile</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#!">My Activity</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#!">Subscribe</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="#!">Contact</a>-->
                <!--</li>-->

            <!--</ul>-->
        <!--</div>-->
        <!--<div class="dontDrinkDrive text-center">-->
            <!--Do not drink and drive!-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->